<!DOCTYPE html>

{% load static %}
<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>Its about ...</h1>
        classifieds <strong>{{ somemessage }}</strong><br />
        <a href="/classifieds/">Index</a><br />
        <br/>
        <img src="{% static "Twilight_Frost_by_Phil_Jackson.jpg" %}" alt="Picture of frost"/>
         <br/> <br/>

        <img src="{% static "Flocking.jpg" %}" alt="Flocking"/>
         <br/> <br/>
        <img src="{% static "bbt.jpg" %}" alt="BBT"/>

        <br/> <br/>
        <h3>Now displaying using direct path....</h3>
         <br/> <br/>
        <img src="/home/ht/projects/classifiedsystem/media/Twilight_Frost_by_Phil_Jackson.jpg" alt="Picture of frost"/> 
        <br/>
        <img src="/home/ht/projects/classifiedsystem/media/bbt.jpg"/>
        <br/>
        <img src="/home/ht/projects/classifiedsystem/media/Flocking.jpg"/>


    </body>

</html>